/* Bootstrap media queries start */
/* xs < 768 */
@media screen and (max-width: 767px) {
    .rowHeader {
        font-size: 20px;
        height: 50px;
        padding-top: 10px;
    }

    .padded_table {
		margin-top: 85px;
	}

	.padded_submit {
		margin-bottom: 100px;
	}

    table {
    	min-width: 100px;
    	max-width: 320px;
    	margin-top: 80px;
    }

    input {
		max-width: 90px;
	}

	.submit {
		min-width: 282px;
		max-width: 100%;
		height: 60px;
		margin-top: -17px;
		padding-top: 8px;
		border: 2px solid #00BFFF;
	}
	
	.btn-submit {
		margin-left: 35%;
		min-width: 50px;
		max-width: 220px;
		height: 38px;
		padding-top: 2px;
		font-size: 22px;
		font-weight: bold;
		background-color: #00BFFF;
	}

    .rowFooter {
        font-size: 18px;
        margin-top: -75px;
        height: 60px;
        letter-spacing: 2px;
        font-weight: bold;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    .rowHeader {
        font-size: 26px;
        height: 50px;
        padding-top: 5px;
    }

    .padded_table {
		margin-top: 85px;
	}

	.padded_submit {
		margin-bottom: 100px;
	}

    input {
		min-width: 320px;
		max-width: 500px;
	}

	.submit {
		min-width: 150px;
		height: 70px;
		margin-top: -22px;
		padding-top: 10px;
		border: 2px solid #00BFFF;
	}
	
	.btn-submit {
		margin-left: 40%;
		min-width: 150px;
		max-width: 250px;
		height: 38px;
		padding-top: 2px;
		font-size: 22px;
		font-weight: bold;
		background-color: #00BFFF;
	}
    .rowFooter {
        //font-size: 1.3em;
        margin-top: -75px;
        font-size: 18px;
        height: 60px;
        letter-spacing: 2px;
        //text-shadow: 2px 3px #808080;
        font-weight: bold;
        margin-top: 47px;
        padding-top: 25px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    .rowHeader {
        font-size: 32px;
        height: 60px;
        padding-top: 5px;
        letter-spacing: 2px;
        text-shadow: 2px 3px #808080;
        font-weight: bold;
    }

	.padded_table {
		margin-top: 85px;
	}

	.padded_submit {
		margin-bottom: 100px;
	}

    input {
    	min-width: 180px;
		max-width: 250px;
	}

	.submit {
		height: 70px;
		margin-top: -22px;
		padding-top: 10px;
		border: 2px solid #00BFFF;
	}
	
	.btn-submit {
		margin-left: 7%;
		min-width: 180px;
		max-width: 250px;
		height: 38px;
		padding-top: 2px;
		//margin-left: 320px;
		font-size: 22px;
		font-weight: bold;
		background-color: #00BFFF;
	}
    .rowFooter {
        font-size: 18px;
        height: 60px;
        letter-spacing: 2px;
        font-weight: bold;
        margin-top: 47px;
        padding-top: 25px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    .rowHeader {
        font-size: 38px;
        height: 65px;
        letter-spacing: 2px;
        text-shadow: 2px 3px #808080;
        font-weight: bold;
    }
    .submit {
		height: 70px;
		margin-top: -22px;
		padding-top: 11px;
		border: 2px solid #00BFFF;
	}
	
	.btn-submit {
		margin-left: 13%;
		width: 320px;
		height: 44px;
		//margin-left: 390px;
		font-size: 22px;
		font-weight: bold;
		background-color: #00BFFF;
	}

	.row {
		margin-top: 100px;
	}

	.padded_table {
		margin-top: 0px;
	}

	.padded_submit {
		margin-bottom: 90px;
	}

	input {
		width: 250px;
	}

/*
	html {
		position: relative;
		min-height: 100%;
	}
*/

    .rowFooter {
/*
    	position: absolute;
		bottom: 0px;
*/

        font-size: 18px;
        height: 65px;
        letter-spacing: 2px;
        margin-top: -75px;
        font-weight: bold;
    }
}
/* Bootstrap media queries end */

body {
	background-color: #FFFAF0;
}

html {
	position: relative;
	min-height: 100%;
}

.rowHeader {
	text-align: center;
	color: white;
	background-color: #00BFFF;
	display: block;
}

.tableHeader {
	text-align: center;
	font-weight: bold;
}

.rowFooter {
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: white;
	background-color: #00BFFF;
}

.rowFooter a {
	color: white;
	text-decoration: none;
}

.rowfooter a:hover {
	color: white;
}

table, table tr, table td {
	border: 2px solid #00BFFF;
}




